<p-toast></p-toast>
<div [ngBusy]="busy"></div>
<div class="card shadow-sm">
    <div class="card-title text-center"><h5 class="text-secondary">Add a book</h5></div>
    <div class="card-body text-center" >
        <p-fileUpload name="myfile[]" (onSelect)="onSelect($event)" customUpload="true" (uploadHandler)="onUpload($event)"
                (onRemove)="clear($event)" (onClear)="clearAll()" multiple="multiple" accept=".txt" maxFileSize="1000000">
        </p-fileUpload>
    </div>
</div>
<br>
<div class="text-center">
    <button type="button" (click)="confirm()" class="btn btn-info">Restart the calculations</button>
</div>
<br>
<div class="row" *ngIf="data">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body text-center" >
                <p-chart type="pie" [data]="data"></p-chart>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body text-center" >
                <p-chart type="polarArea" [data]="dataBar"></p-chart>
            </div>
        </div>
    </div>
</div>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" appendTo="body"></p-confirmDialog>
